# Node
node_modules/
package-lock.json

# Secrets
.env
cache/

# Builds
build/
*.png

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions