# Node
node_modules/
package-lock.json

# Secrets
.env
cookies.json
cache/

# Builds
dist/
*.tgz
**/*.js
**/*.mjs
!**/**/test/*.js
!.*rc.js
*.png

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions